html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,strike,strong,tt,var,b,u,i,center,
dl,dt,dd,ol,ul,li,fieldset,form,legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}
table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: top
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
blockquote,
q {
    quotes: none
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: ''
}
input:focus,
textarea:focus,
a:focus,
button:focus,
select:focus {
    outline: 0
}
ins {
    text-decoration: none
}
del,
s,
strike {
    text-decoration: line-through
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
article,
aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block;
    margin: 0
}
ul{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    list-style-type: none;
}
.flex-row{
    flex-direction: row;
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-grow{
    flex-grow: 1;
}
.flex-center{
    align-items: center;
    display: flex;
}
.flex-between{
    justify-content: space-between;
}
.month{
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}
.weekdays{
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}
.days{
    padding: 10px 0;
    background: #eee;
    margin: 0;
}
.weekdays li, .days li{
    width: 14.28%;
    text-align: center;
}
.flex-wrap{
    flex-wrap: wrap;
}
.dayItem{
    border: 1px solid transparent;
    cursor: pointer;
    height: 35px;
    width: 35px;
    display: block;
    margin: 0 auto;
    line-height: 35px;
    transition: ease-out 0.2s;
}
.dayItem:hover{
    background-color: #1cb7985e;
}
.selected{
    border-color:#71aaa8;
}
.dayItem.today{
    border-color: #4f8178;
    background-color: #1cb79885;
}
.selectedDay{
    border-color: #1abc9c;
}
.arrow{
    display: block;
    height: 35px;
    width: 35px;
    border-top: 2px solid #395852;
    border-right: 2px solid #395852;
    cursor: pointer;
    transition: ease-out 0.3s;
}
.arrow:hover{
    border-color: #ccc;
}
.arrow-left{
    transform: rotate(-135deg);
}
.arrow-right{
    transform: rotate(45deg);
}
@media (min-width: 1200px){
    .container{
        max-width: 600px;
    }
}